/* FONT STYLES */

@font-face {
  font-family: "source_sans_proSBdIt";
  src: url("./source-sans-pro/sourcesanspro-boldit-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-semiboldit-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_prosemibold";
  src: url("./source-sans-pro/sourcesanspro-semibold-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_proregular";
  src: url("source-sans-pro/sourcesanspro-regular-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_prolight_italic";
  src: url("./source-sans-pro/sourcesanspro-lightit-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-lightit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_prolight";
  src: url("./source-sans-pro/sourcesanspro-light-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_proitalic";
  src: url("./source-sans-pro/sourcesanspro-it-webfont.woff2") format("woff2"),
    url("./source-sans-pro/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_proXLtIt";
  src: url("./source-sans-pro/sourcesanspro-extralightit-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-extralightit-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_proextralight";
  src: url("./source-sans-pro/sourcesanspro-extralight-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-extralight-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_probold_italic";
  src: url("./source-sans-pro/sourcesanspro-boldit-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-boldit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_probold";
  src: url("source-sans-pro/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("./source-sans-pro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_problack_italic";
  src: url("./source-sans-pro/sourcesanspro-blackit-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-blackit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_problack";
  src: url("./source-sans-pro/sourcesanspro-black-webfont.woff2")
      format("woff2"),
    url("./source-sans-pro/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "holberton_school-icon";
  src: url("./school_icons/holberton_school-icon/fonts/holberton_school-icon.ttf?sq4eq4");
  src: url("./school_icons/holberton_school-icon/fonts/holberton_school-icon.eot?sq4eq4#iefix")
      format("embedded-opentype"),
    url("./school_icons/holberton_school-icon/fonts/holberton_school-icon.ttf?sq4eq4")
      format("truetype"),
    url("./school_icons/holberton_school-icon/fonts/holberton_school-icon.woff?sq4eq4")
      format("woff"),
    url("./school_icons/holberton_school-icon/fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  background-color: #f2f2f2;
}

body {
  width: 375px;
  height: 4860px;
  background-color: #fff;
  margin-inline: auto;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 29px;
  width: 246.96px;
  height: 31.18px;
  justify-content: space-between;
  z-index: 1;
  margin-left: 21px;
}

header > ul {
  display: none;
}

.burger-menu {
  width: 20px;
  height: 14px;
  color: white;
  position: relative;
  cursor: pointer;
}

.burger-menu span {
  height: 2px;
  background-color: #fff;
  position: absolute;
  border-radius: 2px;
}

.burger-menu span:nth-child(1) {
  width: 100%;
  top: 0;
}

.burger-menu span:nth-child(2) {
  width: 13px;
  top: 50%;
}

.burger-menu span:nth-child(3) {
  width: 100%;
  top: 100%;
}

.menu-toggle:checked + .burger-menu span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked + .burger-menu span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .burger-menu span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

header img {
  width: 160.96px;
  height: 31.18px;
}

/* MAIN-SECTION */

.main-section {
  width: 375px;
  height: 869px;
  position: relative;
  top: 0;
  background-image: url(./images/headphones_hero_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  background-position: 33% -40px;
  text-align: center;
}

.main-section h2 {
  font-family: "source_sans_probold";
  font-weight: 700;
  font-size: 32px;
  width: 357px;
  height: 80px;
  line-height: 40.22px;
  color: #fff;
}

.main-section #small-text {
  margin-top: 5px;
  color: #fff;
  margin-left: 30px;
  font-family: "source_sans_probold";
  font-size: 16px;
  line-height: 17.6px;
}

.main-section button {
  margin-top: 20px;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  background-color: #ff6565;
  border: none;
  color: #fff;
  font-family: "source_sans_probold";
  font-size: 14px;
  line-height: 17.6px;
  font-weight: 700;
  cursor: pointer;
}

button:is(:hover, :active) {
  opacity: 0.9;
}

.main-section #long-text {
  margin-top: 57px;
  margin-bottom: 0;
  color: #fff;
  width: 335px;
  height: 194px;
  margin-inline: auto;
  text-align: center;
  font-family: "source_sans_proregular";
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
}

.main-section-container {
  position: absolute;
  width: 357px;
  height: 436px;
  left: 9px;
  top: 327px;
}

.what_we_do {
  width: 325px;
  height: 288px;
  position: absolute;
  top: 979px;
  left: 25px;
  text-align: center;
}

.what_we_do h1 {
  font-family: "source_sans_prosemibold";
  font-size: 32px;
  line-height: 37.5px;
}

.what_we_do p {
  margin-top: 40px;
  font-family: "source_sans_proregular";
}

.what_we_do .features-container {
  width: 207px;
  height: 1020px;
  margin-top: 110px;
  margin-inline: auto;
}

[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "holberton_school-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-ic_sound::before {
  content: "\e90e";
  display: flex;
  width: 94.2px;
  height: 65.36px;
  font-size: 100px;
  justify-content: center;
  align-items: center;
  color: #ff6565;
  margin-inline: auto;
}

.holberton_school-icon-ic_video::before {
  content: "\e910";
  width: 67.59px;
  height: 76.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #ff6565;
  margin-inline: auto;
}

.holberton_school-icon-ic_music::before {
  content: "\e90d";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.66px;
  height: 57.27px;
  margin-inline: auto;
  color: #ff6565;
  font-size: 100px;
}

.holberton_school-icon-ic_hearing::before {
  content: "\e909";
  display: flex;
  width: 61.43px;
  height: 61.44px;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  color: #ff6565;
  font-size: 100px;
}

.feature-2,
.feature-3,
.feature-4 {
  margin-top: 96px;
}

.feature-1,
.feature-4 {
  height: 180px;
}

.feature-2,
.feature-3 {
  height: 179px;
}

.features h2 {
  font-family: "source_sans_prosemibold";
  font-size: 18px;
  line-height: 26px;
  width: 207px;
  height: 26px;
}

.features p {
  font-family: "source_sans_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  width: 207px;
  height: 52px;
  margin-top: 13px;
}

.feature-1 h2 {
  margin-top: 24px;
}

.feature-2 h2 {
  margin-top: 25px;
}

.feature-3 h2 {
  margin-top: 31px;
}

.feature-4 h2 {
  margin-top: 28px;
}

.feature-1:hover,
.feature-2:hover,
.feature-3:hover,
.feature-4:hover {
  animation: bounce 2s infinite;
}

.Dark_section {
  width: 375px;
  height: 1491px;
  position: absolute;
  top: 2507px;
  text-align: center;
  background-image: url("./images/headphones_hero_2.jpg");
  background-position: -1000px;
  aspect-ratio: 1 / 1;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.Dark_section h1 {
  width: 266px;
  height: 80px;
  margin-inline: auto;
  margin-top: 125px;
  font-family: "source_sans_prosemibold";
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
}

.Dark_section p {
  width: 305px;
  height: 208px;
  margin-inline: auto;
  margin-top: 46px;
  font-family: "source_sans_proregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.Dark_section .polygon {
  width: 190px;
  height: 190px;
  margin-inline: auto;
  position: relative;
}

.polygon::before {
  content: "";
  display: inline-block;
  width: 182px;
  height: 172px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: #ff6565;
}

.polygon span {
  width: 89px;
  height: 26px;
  font-family: "source_sans_probold";
  font-weight: 700;
  font-size: 46px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  left: 51px;
  top: 70px;
}

.polygon p {
  width: 111px;
  height: 26px;
  font-family: "source_sans_proregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  bottom: 48px;
  left: 40px;
  text-wrap: nowrap;
}

.p2,
.p3,
.p4 {
  margin-top: 42px;
}

.p1 {
  margin-top: 77px;
}

.contact-form {
  width: 335px;
  height: 373px;
  position: absolute;
  top: 4108px;
  left: 20px;
}

.contact-form h1 {
  width: 146px;
  height: 40px;
  position: relative;
  left: 94px;
  font-family: "source_sans_prosemibold";
  font-size: 32px;
  line-height: 37.5px;
  text-wrap: nowrap;
}

.name-input,
.email-input,
.message-input {
  width: 335px;
  height: 29px;
  position: relative;
  font-family: "source_sans_prosemibold";
  font-size: 14px;
  line-height: 16.41px;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  border: none;
}

.contact-form hr {
  opacity: 17.45%;
  border: 1px solid #071629;
}

.name-input {
  margin-top: 56px;
}

.email-input {
  margin-top: 45px;
}

.message-input {
  margin-top: 45px;
}

#form-button {
  margin-top: 56px;
  position: relative;
  left: 86px;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background-color: #ff6565;
  border: none;
  color: #fff;
  font-family: "source_sans_probold";
  font-size: 14px;
  line-height: 17.6px;
  text-align: center;
}

footer {
  width: 375px;
  height: 249px;
  position: absolute;
  top: 4611px;
  background-color: #071629;
}

footer .footer-wrapper {
  width: 162px;
  height: 107px;
  position: relative;
  top: 48px;
  left: 107px;
}

.footer-wrapper img {
  width: 162px;
  height: 32px;
}

.footer-wrapper .icons {
  width: 130px;
  height: 30px;
  position: absolute;
  top: calc(45px + 32px);
  left: 16px;
  display: flex;
  gap: 20px;
}

.icons i {
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
}

#copyright {
  position: absolute;
  bottom: 34px;
  left: 139px;
  font-family: "source_sans_proregular";
  font-size: 12px;
  line-height: 15.08px;
  color: #fff;
  opacity: 35.17%;
}

@media (min-width: 1400px) {
  body {
    width: 1400px;
    height: 3006px;
  }

  header {
    display: flex;
    width: 1000.39px;
    justify-content: space-between;
    top: 27.76px;
    left: 200.61px;
  }

  header > ul {
    display: flex;
    width: 255px;
    height: 15px;
    gap: 41px;
    color: white;
    text-wrap: nowrap;
  }

  .burger-menu {
    display: none;
  }

  /* MAIN SECION */

  .main-section {
    width: 1400px;
    height: 800px;
    background-position: unset;
  }

  .main-section-container {
    top: 372px;
    left: 382px;
    width: 637px;
    height: 313px;
  }

  .main-section h2 {
    width: 578px;
    height: 40px;
    text-wrap: nowrap;
    margin-left: 29px;
  }

  .main-section button {
    margin-top: 40px;
  }

  .main-section #long-text {
    width: 637px;
    height: 104px;
    margin-top: 65px;
  }

  /* WHAT WE DO SECTION */

  .what_we_do {
    width: 637px;
    height: 184px;
    top: 910px;
    left: 382px;
  }

  /* FEATURES */

  .what_we_do .features-container {
    width: 1002px;
    height: 193px;
    margin-top: 97px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 25%;
  }

  .feature-1,
  .feature-2,
  .feature-3,
  .feature-4 {
    margin-top: unset;
  }

  .feature-2 h2 {
    margin-top: 25.2px;
  }

  .feature-2 {
    height: 193px;
  }

  /* DARK-SECTION */

  .Dark_section {
    width: 1400px;
    height: 650px;
    top: 1496px;
    background-position: unset;
  }

  .Dark_section h1 {
    width: 448px;
    height: 40px;
    text-wrap: nowrap;
  }

  .Dark_section p {
    margin-top: 40px;
    width: 637px;
    height: 104px;
  }

  .Dark_section .polygon-container {
    display: flex;
    width: max-content;
    height: 190px;
    gap: 76px;
    align-items: start;
    margin-top: 50px;
    margin-left: 207px;
  }

  .Dark_section .polygon {
    margin-top: unset;
  }

  .Dark_section .polygon p {
    width: 111px;
    height: 26px;
    text-align: center;
    position: absolute; /* Ensure the paragraph is absolutely positioned */
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%); /* Center the paragraph horizontally */
    text-wrap: nowrap;
  }

  /* CONTACT-FORM */

  .contact-form {
    top: 2254px;
    left: 533px;
  }

  .contact-form h1 {
    text-wrap: nowrap;
  }

  /* FOOTER */

  footer {
    width: 1400px;
    height: 249px;
    top: 2757px;
  }

  footer .footer-wrapper {
    width: 1000.39px;
    height: max-content;
    top: 91.76px;
    left: 199.61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-wrapper .icons {
    left: unset;
    top: unset;
    left: 1070px;
    position: unset;
  }

  #copyright {
    bottom: 39px;
    left: 651px;
  }
}
